* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: black;
    padding: 10px 0;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin-right: 50px;
}

.navbar a {
    color: blanchedalmond;
    text-decoration: none;
}

.main_container {
    border: 2px solid black;
    margin: 50px auto;
    width: 80%;
    padding: 20px;
    background-color: #f9f9f9;
    height: 800px; 
    overflow-y: auto; 
}

.items {
    display: flex;
    padding-bottom: 30px;
}

.srf {
    background-color: blanchedalmond;
    color: black;
}

.headd, .headdd {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.headdd {
    margin-left: 20px;
}

.namee {
    margin-left: 20px;
}

img {
    padding-bottom: 20px;
}

.pp {
    color: orange;
}

h3 {
    text-decoration: underline;
}

.cv_titles {
    margin-bottom: 20px;
}

hr {
    margin: 20px 0;
}
